.idea
target
.classpath
.project
.settings
.cache*
**/bin
**/.tmpBin
local.*
quill_test.db
Bug.scala
*.gz
quill-jdbc/io/
quill-sql/io/
MyTest.scala
MySparkTest.scala
MyTestJdbc.scala
MySqlTest.scala
quill-core/src/main/resources/logback.xml
quill-jdbc/src/main/resources/logback.xml
log.txt*
tmp