.idea
target
.classpath
.project
.settings
.bsp
.cache*
.jvmopts
queries.sql
LogToFileSpecQuery.sql
**/bin
**/.tmpBin
local.*
quill_test.db
codegen_test.db
codegen_test.h2.mv.db
codegen_test.h2.trace.db
Bug.scala
*.gz
quill-jdbc/io/
quill-sql/io/
MyTest.scala
MySparkTest.scala
MyTestJdbc.scala
MyJdbcTest.scala
MySqlTest*.scala
MyCassandraTest*.scala
MyTest.scala
MyCqlTest.scala
MySparkExample.scala
quill-core/src/main/resources/logback.xml
quill-jdbc/src/main/resources/logback.xml
log.txt*
tmp
nohup.out
.bloop/
.metals/
project/.bloop/
/io/
/.metadata/
.bsp/
.jvmopts
.DS_Store
.vscode
